---
import PartnersFilter from './islands/PartnersFilter.jsx';
---
<section class="section" id="partners" data-ground="paper">
  <div class="section__inner">
    <div class="section-head reveal">
      <span class="label label--gold">Official Partners</span>
      <h2 class="display">Proudly supported by industry <em>leaders</em></h2>
    </div>
    <PartnersFilter client:visible />
  </div>
</section>
