---
import TeamCarousel from './islands/TeamCarousel.jsx';
---
<section class="section team" id="team" data-ground="paper">
  <div class="section__inner">
    <div class="section-head reveal">
      <span class="label label--gold">Organizing Committee</span>
      <h2 class="display">The hands behind <em>Issue 22</em></h2>
    </div>
    <TeamCarousel client:visible />
  </div>
</section>
